/* Always bottom margin is present */
/* Font famile needs to be taken care */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ********************* */
/* CODE STARTS HERE */
/* ********************* */

html {
  font-size: 62.5%;
}

body {
  width: 100%;
}

:root {
  /* Colors */
  --green: #44ffa1;
  --purple-900: #24053e;
  --purple-500: #584d62;
  --purple-100: #fcf8ff;
  --white: #fff;

  /* TYPOGRAPHY */
  /* Text Preset 1 */

  --ff-1: "Fraunces", serif;
  --fs-1: 8rem;
  --lh-1: 1;
  --ls-1: 0;
  --fw-1: 600;

  /* Text Preset 2 */

  --ff-2: "Fraunces", serif;
  --fs-2: 5.6rem;
  --lh-2: 1.2;
  --ls-2: 0;
  --fw-2: 600;

  /* Text Preset 3 */

  --ff-3: "Fraunces", serif;
  --fs-3: 3.2rem;
  --lh-3: 1.2;
  --ls-3: 0;
  --fw-3: 600;

  /* Text Preset 4 */

  --ff-4: "Manrope", serif;
  --fs-4: 1.8rem;
  --lh-4: 1.8;
  --ls-4: 0;
  --fw-4: 400;

  /* Text Preset 5 */

  --ff-5: "Manrope", serif;
  --fs-5: 1.8rem;
  --lh-5: 1.5;
  --ls-5: 0;
  --fw-5: 700;
}

.bottom-text-decoration {
  text-decoration: underline;
  text-decoration-color: var(--green);
  text-decoration-thickness: 0.3rem;
}

.header {
  background-color: var(--purple-900);
  color: var(--white);
  width: 100%;
  padding: 5.6rem 16rem 0 16rem;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav a:last-child {
  font-family: var(--ff-5);
  color: var(--whites);
  text-decoration: none;
  font-size: var(--fs-5);
  font-weight: var(--fw-5);
  line-height: var(--lh-5);
  letter-spacing: var(--ls-5);
  border-bottom: 1px solid var(--green);
}

.header-textbox {
  padding-top: 5.6rem;
  text-align: center;
}

.header-textbox h1 {
  color: var(--white);
  font-family: var(--ff-1);
  font-size: var(--fs-1);
  font-weight: var(--fw-1);
  line-height: var(--lh-1);
  letter-spacing: var(--ls-1);
}

.header-learn {
  display: inline-block;
  color: var(--purple-900);
  font-family: var(--ff-5);
  font-size: var(--fs-5);
  font-weight: var(--fw-5);
  line-height: var(--lh-5);
  letter-spacing: var(--ls-5);
  background-color: var(--green);
  text-decoration: none;
  margin-top: 5.2rem;
  padding: 1.2rem 3.2rem;
}

.img-1 {
  position: absolute;
  top: 4.7rem;
  left: 0;
  transform: translateX(-10.1rem);
}

.img-2 {
  position: absolute;
  right: 0;
  transform: translateX(4.568rem);
}

.img-hero {
  max-width: 76.7rem;
  width: 100%;
  /* margin: auto; */
  /* position: absolute; */
  top: 49.1rem;
  padding-top: 16.3rem;
}

.section-article {
  display: flex;
  padding: 8.8rem 16rem 14.4rem 16rem;
  gap: 3.2rem;
  width: 100%;
}

.article-card {
  text-align: center;
  color: var(--purple-900);
}

.article-card p:first-child {
  font-family: "Fraunces", serif;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 4rem;
  letter-spacing: 0;
}

.article-number {
  padding: 0.8rem 2.35rem;
  border: 1px solid var(--purple-500);
  border-radius: 50%;
}

.article-card h2 {
  padding-top: 5.6rem;
  font-family: var(--ff-3);

  font-size: var(--fs-3);
  font-weight: var(--fw-3);
  line-height: var(--lh-3);
  letter-spacing: var(--ls-3);
}

.article-last-para {
  padding-top: 2.8rem;
  font-family: var(--ff-4);
  font-size: var(--fs-4);
  font-weight: var(--fw-4);
  line-height: var(--lh-4);
  letter-spacing: var(--ls-4);
}

.test {
  margin-top: 11.2rem;
  position: relative;
}

.test-founder {
  position: absolute;
  z-index: -1;
  width: 47.7rem;
  top: -16.8rem;
  left: 11.6rem;
}

.test-info {
  margin-top: 16.8rem;
  margin-left: 55rem;
  background-color: var(--purple-900);
  color: var(--white);
  max-width: 73rem;
}

.test-info h3 {
  padding-top: 6.4rem;
  padding-left: 6.4rem;
  font-family: var(--ff-2);

  font-size: var(--fs-2);
  font-weight: var(--fw-2);
  line-height: var(--lh-2);
  letter-spacing: var(--ls-2);
}

.test-info p {
  padding-top: 3.2rem;
  padding-left: 6.4rem;
  padding-right: 6.4rem;
  font-family: var(--ff-4);
  font-size: var(--fs-4);
  font-weight: var(--fw-4);
  letter-spacing: var(--ls-4);
  line-height: var(--lh-4);
}

.test-info button {
  margin-top: 3.2rem;
  margin-bottom: 6.4rem;
  margin-left: 6.4rem;
  background-color: var(--green);
  padding: 1.2rem 3.2rem;
  color: var(--purple-900);
  font-family: var(--ff-5);
  font-size: var(--fs-5);
  font-weight: var(--fw-5);
  line-height: var(--lh-5);
  letter-spacing: var(--ls-5);
}

.img-2-test {
  position: absolute;
  transform: rotate(145deg) scaleX(-1);

  top: 26.4rem;
  right: 26.771rem;
}

.footer {
  padding-top: 11.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5.6rem;
}

.footer-nav {
  padding-bottom: 11.2rem;
  display: flex;
  gap: 2.8rem;
}

.footer-nav a:link {
  display: flex;
}
